@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    background: none;
    border:none;
}

body {
    display: flex;
    display: -webkit-flex;
    display: -webkit-inline-flex;
    flex-direction: column;
    width:100%;
}

.header_ {
    list-style-type: none;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    margin-bottom:10%;
    height: 57px;
}

.login,
.sign {
    font-size: 30px;
    font-family: "SimHei", 黑体;
    color: #666666;
    font-weight: 500;
}
.login{
    height: 54%;
    top: 13%;
    position: relative;
    background-color: #66666641;
    border-radius: 9px;
    padding: 2%;
    border-color: #0a090998;
    -webkit-box-shadow: 0 0 11px rgba(44, 44, 44, 0.781);
}
.sign{
    height: 54%;
    top: 13%;
    position: relative;
    background-color: #66666641;
    border-radius: 9px;
    padding: 2%;
    border-color: #0a090998;

}
.signin{
    padding-left: 10%;
    padding-top:8%;
}
.signup {
    display: none;
    padding-left: 10%;
    padding-top:8%;
}
.errmsg{
    position: absolute;
    left:10%;
    top:30%;
    width: 80%;
    border-radius:4px;
    text-align: center;
}
.contain{
    margin-left: 3%;
    margin-right: 3%;
    background-image: url(./picture/画板3-提示框框.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border:none;
    height:180px;
}
.box{
    font-size: 18px;
    padding-bottom: 5%;
    font-family: "SimHei", 黑体;
    color: #be98c9;
}
.log_button{
    margin-right: 5%;
    background-image: url(./picture/画板3-登陆.png);
    background-size: 100% 100%;
    width: 26%;
    height: 36px;
    float: right;
    margin-top: 12%;
}
.sin_box{
    padding-bottom: 2%;
}
.input{
    outline:none;
}
.thunder{
    width: 20%;
}