@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.img_background1 {
    background-color: transparent;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    border: none;
}

.img_background2 {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.flex {
    display: flex;
    display: -moz-box;
    display: -webkit-flex;
}

.container {
    position: relative;
}

.background {
    background-image: url("../public/picture/zxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    z-index: -1;
}

.box {
    width: 100%;
    height:100%;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    top:0;
}

.top {
    background-color: rgba(245, 245, 245, 0.247);
    align-items: center;
    height: 18%;
}

.return {
    background-image: url("./picture/5-3.png");
    width: 6%;
    height: 74%;
    margin-left:1%;
}
.title {
    color: #be98c9;
    font-family: "SimHei", 黑体;
    font-size: 12px;
    margin-right: 12%;
}

.barrage {
    background-color: unset;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 4;
    overflow: hidden;
    color: #eeeeee;
    font-size: 13px;
    font-weight: 800;
}


.buttom {
    height: 27%;
    background-color: unset;
    z-index: 5;
    align-items: center;
    justify-content: space-around;
}

.pause {
    background-image: url("./picture/5-6.png");
    margin-right: -6%;
    width: 5%;
    height: 50%;
}

.line {
    width: 100%;
    position: absolute;
}

.circle {
    position: absolute;
    left: 10%;
}

.input{
    position: relative;
    background-color: transparent;
    border: none;
    width: 87%;
    font-size: 17px;
    left: 5%;
    top:15%;
    font-weight: 500;
    outline:none;
    color:#be98c9;
    font-weight: 600;
}
.textarea {
    z-index: 0;
    position: relative;
    height: 40px;                                    /* 我只好在父元素里加固定高度 但我觉得这样不太对*/
    margin-top: 3%;
    align-items: center;
    justify-content: space-around;
}

#textinput::-webkit-input-placeholder {
    font-family: "SimHei", 黑体;
    font-size: 12px;
    color: #be98c9;
}

.intro {
    width: 90%;
}

.head {
    font-size: 16px;
    font-weight: 600;
    font-family: "SimHei", 黑体;
    color: #bf92bd;
    margin-top: 6%;
    margin-bottom:5%;
}

.introtext {
    font-family: "SimHei", 黑体;
    color: #666666;
    font-size: 12px;
    margin-bottom: 5%;
}

.kuang {
    background-image: url("./picture/5-16.png");
    width: 78%;
    height: 80%;   
    background-size: 100% 100%;                                   /* 为什么没办法用百分比? */
}

.button {
    background-image: url("./picture/4-1.png");
    margin-right: 3%;
    height: 80%;                                       /* 无法百分比again 然后我设置了父元素的高度 就可以百分比了*/
}



.movetext {
    animation: toleft linear 8s;
    -moz-animation: toleft linear 8s;
    -webkit-animation: toleft linear 8s;
    -o-animation: tolfet linear 8s;
}

@keyframes toleft {
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(-150px);
    }
}

@-o-keyframes toleft{
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(-150px);
    }
}

@-moz-keyframes toleft{
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(-150px);
    }
}
@-webkit-keyframes toleft{
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(-150px);
    }
}
.barragetext {
    flex-wrap: wrap;
    background-color: unset;
    margin-top: 2%;
    font-size: 15px;
}

.query_kuang {
    font-size: 13px;
    right:4%;
    margin-left: 29%;
    width: 150%;                                       /*这个宽度有点奇怪*/
    background-image: url("./picture/5-13.png");
    height: 50px;                                      /*无法百分比again*/
}

.query_button {
    background-image: url("./picture/5-14.png");
    background-image: url(./picture/5-14.png);
    position: relative;
    height: 64%;
    width: 18%;
    float: right;
    bottom: 14%;
    right: 4%;
}

.com_head,
.com_usr {
    align-items: center;
    width: 100%;
}

.query_kuang::-webkit-input-placeholder {
    color: #be98c9;
    font-family: "SimHei", 黑体;
    font-size: 13px;
}

.column {
    flex-direction: column;
}

.name {
    align-self: flex-start;
    margin: 0;
}

.comm {
    font-size: 13px;
    width: 50%;
}

.time {
    color: #bdbdbd;
    font-family: "SimHei", 黑体;
    font-size: 9px;
}

.fullscreen {
    background-image: url("./picture/5-9.png");
    width: 7%;
    height: 70%;
    margin-top: 0.5%;
}

.kuang_b {
    width: 270px;
}

.select {
    width: 100%;
    top:0;
    position: absolute;
    background-color: #66666681;
    z-index: 2;
    display: none;
}
.location{
    z-index: 3;
    padding-top:15%;
    display: flex;
    align-content: flex-start;
    padding-left: 5%;
}
.color{
    display: flex;
    align-items: flex-start;
    padding-left: 5%;
}

.select_box {
    width: 40px;
    height: 40px;
    z-index: 3;
}

.up {
    background-image: url("./picture/4-2.png");
}

.down {
    background-image: url("./picture/4-3.png");
}

.move {
    background-image: url("./picture/4-4.png");
}

.red {
    background-image: url("./picture/4-5.png");
}

.orange {
    background-image: url("./picture/4-6.png");
}

.yellow {
    background-image: url("./picture/4-7.png");
}

.green1 {
    background-image: url("./picture/4-8.png");
}

.green2 {
    background-image: url("./picture/4-9.png");
}

.blue1 {
    background-image: url("./picture/4-10.png");
}

.blue2 {
    background-image: url("./picture/4-11.png");
}

.purple {
    background-image: url("./picture/4-12.png");
}

.white {
    background-image: url("./picture/4-13.png");
}
.uptext{
    justify-content:center;
    flex-direction:row;
}
.downtext{
    justify-content:center;
    /* align-self: flex-end; */
}

#barrage_button{
    width: 8%;
    height: 42%;
    margin-top: 1%;
}
.comment{
    width: 75%;
}
.input_{
    font-size: 12px;
    top:28%;
    color:#be98c9;
    font-weight: 600;
}
.com_usr{
    width:80%;
}
